

body {
  color: #151B2B;
  font-family: arial narrow;
  background-color: #ececec;
}

.navbar-inverse .navbar-nav > li > a:hover{
color: #22A7F0; /*Sets the text hover color on navbar*/
font-weight: 500;
border-bottom: 2px solid #22A7F0;
transition: 0.2s;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:visited,
{
  border-bottom: 3px solid #22A7F0;
  color: #22A7F0; /*Sets the text hover color on navbar*/
  font-weight: 500;

}

  .navbar-inverse .navbar-nav > li > a {
   color: #B4B4B6; /*Change active text color here*/
   border-bottom: 2px solid transparent;
   font-family: arial;


    }
.navbar-brand{
  padding-right: 0;
}

.navbar-header a{
  font-size: 32px;
  margin-right: 10px;
}
.logo {
  margin-right: 10px;
}
.middle {
  color: #7B97B0;
  font-size: 18px;
}


.logo a{
  font-size: 2em;
}
.navbar-brand a {
  color: #A9BCF5;

}
.container-fluid {
  padding: 0;
  margin: 0;
}


header {
  margin-top: 300px;
}

#hello {
  margin-top: 100px;
  color: white;
}

.box1 h5 {

  width:100%;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 64px;
  padding: 0;
  color: #A9BCF5;
  font-size: 50px;
}

.et {
  font-size: 18px;
  font-weight: 100;
}


.fat {
  font-weight: 600;
}



.dev {
text-align: center;
}

.ligne{
  border-right: blue 1px solid;
}


#interests,
#profile,
#experience,
#education,
#skills,
#contact  {
  font-family: arial narrow;
  margin-bottom:20px;
}

.dark {
  font-weight: 600;
  color:#22313F ;
  font-size: 20px;

}

.light {
  color: #4B5F83;
  font-weight: 300;
  font-size: 18px;
}

.list li:hover {
color: #22A7F0;
border-radius: 5px;
transition: 0.6s;
border-left: 2px solid #9AD0EE;

}

.list{
  padding: 10px;
  margin-top: 0;
  background-color: #ececec;

}
.list li {
  padding: 6px 0px 6px 10px;
  border-top: 2px transparent solid;
  margin-bottom: 18px;
  border-left: 2px solid transparent;
  list-style-image: url(pucee.png);
}



.btn {
  margin-top: 36px;
}

.btn a {
  color: #DADFE1;

}
iframe {
  height: 120px;
}

h4 {
  color: #456C90;
  font-size: 32px;
  background-repeat: no-repeat;
  background-position: left;
  height: 100px;
  padding-left: 80px;
  padding-top: 44px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: arial narrow;
}


#profile h4 {
  background-image: url(profil.png);
}
#experience h4 {
  background-image: url(work.png);

}
#skills h4 {
  background-image: url(skills.png);
}

#education h4 {
  background-image: url(education.png);

}

#interests h4 {
  background-image: url(heart.png);
}

#contact h4 {
  background-image: url(mail.png);
}
#projects h4 {
  background-image: url(project.png);
}

.list a {
  text-decoration: none;
  color: #77B3D4;
  font-weight: 600;
}
.list a:hover {
  color: #22A7F0;
}
.img_profil {
  margin-right: 16px;
}
 .navbar-brand a {
  text-decoration: none;
}
